
p {
color: #685206;
font-family: 'Helvetica Neue', sans-serif;
font-size: 14px;
line-height: 24px;
margin: 0 0 24px;
text-align: justify;
}

head {
    display: none;
}

element.style {
    background-color: pink;
    }

    body {
        display: block;
        margin: 8px;

    }

    h1 {
        color:black;
        font-family: Arial, Helvetica, sans-serif;
        font-size:50px;
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 1;
        text-align: center;
    }



.image-row {
    display: flex;
    justify-content: space-between;
  }

 

  .btn {
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid #333333;
  }
  
img {
    width: 400px;
}